---
import { actions, isInputError } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import Popover from "~/Popover.astro";

const { workId } = Astro.params;

if (!workId) {
  return Astro.redirect("/errors/not-found");
}

const result = Astro.getActionResult(actions.chaptersActions.addChapter);
const errors = isInputError(result?.error) ? result.error.fields : {};

if (result && !result.error) {
  return Astro.redirect(`works/${workId}`);
}
---

<Layout>
  <h1>Add a chapter</h1>

  <form action={actions.chaptersActions.addChapter} method="post">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Add chapter</legend>

      <div class="tabs tabs-box" id="chapter-options" role="tablist">
        <input 
          class="tab"
          type="radio" 
          name="option" 
          id="manual" 
          value="manual" 
          aria-label="Default" 
          aria-controls="option-manual"
          role="tab"
          checked 
        />
        <div id="option-manual" class="tab-content option" role="tabpanel">
          <label for="chapter-title" class="label">Chapter Title</label>
          <input 
            class="input" 
            type="text" 
            name="chapterTitle" 
            id="chapter-title" 
            aria-errormessage="chapter-title-error"
            transition:persist 
          />
          {errors.title && (
            <div id="chapter-title-error" class="label text-error">
              {errors.title}
            </div>
          )}
        
          <label for="content" class="label">Work Text</label>
          {/* replace this with a rich text editor / code editor later */}
          <textarea 
            class="textarea" 
            name="content" 
            id="content" 
            aria-errormessage="content-error" 
            transition:persist
          ></textarea>
          {errors.content && (
            <div id="content-error" class="label text-error">
              {errors.content}
            </div>
          )}
        </div>

        <input 
          class="tab" 
          type="radio" 
          name="option" 
          id="bsky" 
          value="bsky" 
          aria-label="Import from Bluesky" 
          aria-controls="option-bsky"
          role="tab"
        />
        <div id="option-bsky" class="tab-content option" role="tabpanel">
          <p>You can import a Bluesky post as a chapter in your work!</p>

          <label for="bsky-title" class="label">Title</label>
          <input type="text" type="text" name="bskyTitle" id="bsky-title" />

          <label for="bsky-uri" class="label">
            Bluesky URI
            <Popover id="bsky-help" icon="info" label="help">
              <p>Please input the URL of the Bluesky post.</p>
            </Popover>
          </label>
          <input class="input" type="text" name="bskyUri" id="bsky-uri" />
        </div>

        <input 
          class="tab" 
          type="radio" 
          name="option" 
          id="leaflet" 
          value="leaflet" 
          aria-label="Import from Leaflet.pub" 
          aria-controls="option-leaflet"
          role="tab"
        />
        <div id="option-leaflet" class="tab-content option" role="tabpanel">
          <p>You can import a document from leaflet.pub as a chapter into your work.</p>
          <label for="leaflet-uri" class="label">
            Leaflet URI
            <Popover id="leaflet-help" icon="info" label="help">
              <p>Please input the AT URI of the leaflet post you'd like to use. Make sure it's published in a publication!</p>
              <p>For more info, <a href="/help/chapter">see this guide</a>.</p>
            </Popover>
          </label>
          <input class="input" type="text" name="leafletUri" id="leaflet-uri" />
        </div>
      </div>
    </fieldset>

    <div>
      <button class="btn btn-secondary" type="submit" value="save">Save as draft</button>
      <button class="btn btn-primary" type="submit" value="post">Post chapter</button>
    </div>
    {result?.error}
  </form>
</Layout>