---
import WorkPage from "@/layouts/WorkPage.astro";
import { didToHandle } from "@/lib/atproto";
import { db, eq, Users, Works, Chapters } from "astro:db";

const { workId } = Astro.params;
const loggedInUser = Astro.locals.loggedInUser;

const [work] = await db.select()
  .from(Works)
  .where(eq(Works.slug, workId!))
  .innerJoin(Users, eq(Works.author, Users.userDid))
  .limit(1);

const chapters = await db.select()
  .from(Chapters)
  .where(eq(Chapters.workId, Works.id))
  .all();
---
<WorkPage 
  slug={work.Works.slug}
  title={work.Works.title}
  author={work.Users.nickname
    ? work.Users.nickname
    : await didToHandle(work.Users.userDid)}
  createdAt={work.Works.createdAt}
  updatedAt={work.Works.updatedAt}
  tags={work.Works.tags}
>
  {(work.Users.userDid === loggedInUser?.did) && (
    <a href={`/works/${workId}/edit`}>Edit your work</a>
  )}

  <div class="prose lg:prose-xl">
    <!-- set the first chapter here -->
    <Fragment set:html={chapters[0].content} />
  </div>
</WorkPage>