---
import Layout from "@/layouts/Layout.astro";
import type { Tag } from "@/lib/types";
import { db, eq, Users, Works } from "astro:db";

const { id } = Astro.params;

const works = await db.select()
  .from(Works)
  .where(eq(Works.id, Number(id)))
  .innerJoin(Users, eq(Works.author, Users.userDid))
  .limit(1);

---
<Layout>
  {works.map(({ Works, Users }) => (
    <h1>{Works.title}</h1>
    <h2>{Users.userDid}</h2>
    <time datetime={Works.createdAt.toISOString()}>{Works.createdAt}</time>
    <ul>
      {(Works.tags as unknown as Tag[]).map(tag => (
        <li><a href={tag.url}>{tag.label}</a></li>
      ))}
    </ul>

    <Fragment set:html={Works.content} />
  ))}
</Layout>