---
import Layout from "@/layouts/Layout.astro";
import { didToHandle } from "@/lib/atproto";
import type { Tag } from "@/lib/types";
import { db, eq, Users, Works } from "astro:db";

const { workId } = Astro.params;

const work = await db.select()
  .from(Works)
  .where(eq(Works.slug, workId!))
  .innerJoin(Users, eq(Works.author, Users.userDid))
  .limit(1);

if (work.length === 0) {
  return Astro.redirect("/not-found");
}
---
<Layout>
  {work.map(async ({ Works, Users }) => (
    <>
      <h1>{Works.title}</h1>
      <h2>{await didToHandle(Users.userDid)}</h2>
      <time datetime={Works.createdAt.toISOString()}>{Works.createdAt}</time>
      {(Works.tags as Tag[]).map(tag => (
        <a href={tag.url}>{tag.label}</a>
      ))}
      
      <Fragment set:html={Works.content} />
    </>
  ))}
</Layout>