---
import Layout from "@/layouts/Layout.astro";
import { didToHandle } from "@/lib/atproto";
import type { Tag } from "@/lib/types";
import { db, eq, Users, Works } from "astro:db";

const works = await db.select()
  .from(Works)
  .innerJoin(Users, eq(Works.author, Users.userDid));

const loggedInUser = Astro.locals.loggedInUser;
---

<Layout>
  <h1>Works</h1>

  <main id="content" class="flex flex-col gap-5 max-w-full">
    {loggedInUser && 
      <a href="/works/add">wanna write kid?</a>
    }
    
    {works.map(async ({ Works, Users }) => (
      <article class="card rounded-box shadow p-5">
        <header>
          <div class="flex items-center justify-between">
            <hgroup class="flex-1">
              <h2 class="card-title">
                <a href={`/works/${Works.slug}`}>{Works.title}</a>
              </h2>
              <h3>
                {Users.nickname
                  ? Users.nickname
                  : await didToHandle(Users.userDid)}
              </h3>
            </hgroup>
            <time datetime={Works.createdAt.toISOString()}>
              {Works.createdAt.toLocaleDateString()}
            </time>
          </div>
          {Array.isArray(Works.tags)
            ? (<ul class="flex flex-wrap gap-1.5">
                {(Works.tags as Tag[]).map((tag: Tag) => (
                  <li><a class="tag" href={tag.url}>{tag.label}</a></li>
                ))}
              </ul>)
            : <pre>{JSON.stringify(Works.tags)}</pre>}
        </header>

        <div class="card-body prose lg:prose-xl">
          <Fragment set:html={Works.content} />
        </div>
      </article>
    ))}
  </main>
</Layout>

<style>
  .tag {
    @apply btn btn-accent;  
  }
</style>