---
import Layout from "@/layouts/Layout.astro";
import type { Tag } from "@/lib/types";
import { db, eq, Users, Works } from "astro:db";

const works = await db.select()
  .from(Works)
  .innerJoin(Users, eq(Works.author, Users.userDid));

const loggedInUser = Astro.locals.loggedInUser;
---

<Layout>
  <h1 class="text-5xl">works</h1>

  <main id="content">
    {loggedInUser && 
      <a href="/works/add">wanna write kid?</a>
    }

    {works.map(({ Works, Users }) => (
      <article class="card">
        <header>
          <div class="flex items-center justify-between">
            <hgroup class="flex-1">
              <h2 class="card-title">
                <a href={`/works/${Works.slug}`}>{Works.title}</a>
              </h2>
              <h3>{Users.userDid}</h3>
            </hgroup>
            <time datetime={Works.createdAt.toISOString()}>{Works.createdAt}</time>
          </div>
          {JSON.stringify(Works.tags)}
          {/* <ul class="flex flex-wrap gap-1.5">
            {(Works.tags as Tag[]).map((tag: Tag) => (
              <li><a class="tag" href={tag.url}>{tag.label}</a></li>
            ))}
          </ul> */}
        </header>

        <div class="card-body prose lg:prose-xl">
          <Fragment set:html={Works.content} />
        </div>
      </article>
    ))}
  </main>
</Layout>

<style>
  @reference "../../assets/styles/global.css";

  .tag {
    @apply btn btn-accent;  
  }
</style>