---
import Layout from "@/layouts/Layout.astro";
import { didToHandle } from "@/lib/atproto";
import type { User, Work } from "@/lib/types";
import { db, eq, Users, Works } from "astro:db";

const { userDid } = Astro.params;
const did = userDid!;

const rows = await db.select()
  .from(Users)
  .where(eq(Users.userDid, did))
  .leftJoin(Works, eq(Works.author, did))
  .all();

const result = rows.reduce<Record<string, { user: User; works: Work[]; }>>((acc, row) => {
  const user = row.Users;
  const work = row.Works;

  if (!acc[user.userDid]) { acc[user.userDid] = { user, works: [] }; }
  if (work) { acc[user.userDid].works.push(work); }
  return acc;
}, {});

const { user, works } = result[did];
works.sort((a, b) => {
  return (b.updatedAt ?? b.createdAt).valueOf() - (a.updatedAt ?? a.createdAt).valueOf();
});
---
<Layout>
  <h1>{user.nickname ? user.nickname : await didToHandle(user.userDid)}</h1>

  {works && (
    <section>
      <ol>
        {works.map(work => (
          <li>
            <article>
              <header>
                <h2><a href={`/works/${work.slug}`}>{work.title}</a></h2>
                <time datetime={work.createdAt.toISOString()}>{work.createdAt}</time>
                {work.updatedAt && (
                  <time datetime={work.updatedAt.toISOString()}>{work.updatedAt}</time>
                )}
                {JSON.stringify(work.tags)}
              </header>
              
              <blockquote>
                {work.summary}
              </blockquote>
            </article>
          </li>
        ))}
      </ol>
    </section>
  )}
</Layout>