---
import Layout from "@/layouts/Layout.astro";
import { actions } from "astro:actions";
import { db, eq, Users, Works } from "astro:db";
import Dialog from "~/Dialog.astro";
import Popover from "~/Popover.astro";

const loggedInUser = Astro.locals.loggedInUser;

if (!loggedInUser) {
  return Astro.redirect("/login");
}

const query = await db.select()
  .from(Users)
  .where(eq(Users.userDid, loggedInUser.did))
  .limit(1);
const user = query[0];

const works = await db.select()
  .from(Works)
  .where(eq(Works.author, user.userDid));
---
<Layout>
  <h1>User Settings</h1>
  <p>{loggedInUser?.handle}</p>
  
  <!-- registration will only happen in the below form! -->
  {(query.length === 0) && (
    <>
      <h2>Connect account</h2>
      <div class="info">
        <p>Right now, you aren't connected to the site. You can connect your BlueSky / self-hosted PDS account to this website to post a work.</p>
        <p>Please check out the Terms of Service, Privacy Policy, and Code of Conduct before connecting your account.</p>
      </div>
      <button id="trigger-confirm">Connect your PDS Account</button>
      
      <Dialog id="connect-account" title="Are you sure?">
        <form action={actions.usersActions.addUser} method="post">
          <label for="nickname">Nickname</label>
          <Popover id="nickname-info" label="info" icon="warning" direction="bottom">
            <p>You can optionally set your nickname for this site. This is separate from your handle and acts as your identifier.</p>
            <p>Think of your handle as what you use to log in with, and your nickname as the name you want to publish your works under.</p>
            <h3>Important</h3>
            <p>If you do set a nickname, please make sure it's unique! Having two people with the same nickname would cause confusion, unfortunately.</p>
          </Popover>
          <input type="text" name="nickname" id="nickname" />

          <button formmethod="dialog">Cancel</button>
          <button>Confirm</button>
        </form>
      </Dialog>
    </>
  )}
  
  {user && (
    <>
      <h2>your nickname???</h2>
      <time datetime={user.joinedAt.toISOString()}>{user.joinedAt}</time>
      <p>{user.userDid}</p>

      {works && (
        <section>
          <ul>
            {works.map(work => (
              <article>
                <h3>{work.title}</h3>

                <time datetime={work.createdAt.toISOString()}>
                  {work.createdAt}
                </time>
                {work.updatedAt && (
                  <time datetime={work.updatedAt.toISOString()}>
                    {work.updatedAt}
                  </time>
                )}

                <ul>
                  {JSON.stringify(work.tags)}
                </ul>
                
                summary here
              </article>
            ))}
          </ul>
        </section>
      )}
    </>
  )}
</Layout>

<script>
  const trigger = document.getElementById("trigger-confirm");
  const confirmDialog = document.getElementById("connect-account") as HTMLDialogElement;

  trigger?.addEventListener("click", (_) => {
    confirmDialog.showModal();
  });
</script>