---
import Layout from "@/layouts/Layout.astro";
import { didToHandle } from "@/lib/atproto";
import type { Work, User } from "@/lib/types";
import { actions } from "astro:actions";
import { db, eq, Users, Works } from "astro:db";
import Dialog from "~/Dialog.astro";
import Popover from "~/Popover.astro";

const loggedInUser = Astro.locals.loggedInUser;

if (!loggedInUser) {
  return Astro.redirect("/login");
}

const rows = await db.select()
  .from(Users)
  .where(eq(Users.userDid, loggedInUser.did))
  .leftJoin(Works, eq(Works.author, loggedInUser.did))
  .all();

const result = rows.reduce<Record<string, { user: User; works: Work[]; }>>((acc, row) => {
  const user = row.Users;
  const work = row.Works;

  if (!acc[user.userDid]) { acc[user.userDid] = { user, works: [] }; }
  if (work) { acc[user.userDid].works.push(work); }
  return acc;
}, {});

const { user, works } = result[loggedInUser.did];
works.sort((a, b) => {
  return (b.updatedAt ?? b.createdAt).valueOf() - (a.updatedAt ?? a.createdAt).valueOf();
});
---
<Layout skipLink="user-profile">
  <main id="user-profile">
    <h1>User Settings</h1>
    <p>{loggedInUser?.handle}</p>
    
    <!-- registration will only happen in the below form! -->
    {!user && (
      <>
        <h2>Connect account</h2>
        <div class="info">
          <p>Right now, you aren't connected to the site. You can connect your BlueSky / self-hosted PDS account to this website to post a work.</p>
          <p>Please check out the Terms of Service, Privacy Policy, and Code of Conduct before connecting your account.</p>
        </div>
        
        <Dialog id="connect-account" title="Are you sure?" buttonColor="accent">
          <span slot="button">Connect your PDS Account</span>

          <form action={actions.usersActions.addUser} method="post">
            <fieldset class="fieldset">
              <div class="flex gap-1">
                <label for="nickname" class="label">Nickname</label>
                <Popover id="nickname-note" label="info" icon="warning" title="Important">
                  <p>If you do set a nickname, please make sure it's unique!</p>
                </Popover>
              </div>
              <input 
                class="input w-full" 
                type="text" 
                name="nickname" 
                id="nickname" 
                aria-describedby="nickname-info"
              />
              <div id="nickname-info" class="alert">
                <div class="i-lc-info text-info" aria-hidden="true" />
                <div>
                  <p>You can optionally set your nickname for this site.</p>
                  <p>This is separate from your handle and acts similarly to a penname.</p>
                </div>
              </div>
            </fieldset>

            <div class="modal-action">
              <button class="btn btn-neutral" formmethod="dialog">Cancel</button>
              <button class="btn btn-primary">Confirm</button>
            </div>
          </form>
        </Dialog>
      </>
    )}
    
    {user && (
      <>
        <h2>{user.nickname ? user.nickname : await didToHandle(user.userDid)}</h2>
        <time datetime={user.joinedAt.toISOString()}>{user.joinedAt}</time>

        {works && (
          <section>
            <ol>
              {works.map(work => (
                <li>
                  {/* probably could componentize work entries */}
                  <article>
                    <header>
                      <h3><a href={`/works/${work.slug}`}>{work.title}</a></h3>

                      <time datetime={work.createdAt.toISOString()}>
                        {work.createdAt}
                      </time>
                      {work.updatedAt && (
                        <time datetime={work.updatedAt.toISOString()}>
                          {work.updatedAt}
                        </time>
                      )}

                      <ul>
                        {JSON.stringify(work.tags)}
                      </ul>
                    </header>
                    
                    <Fragment set:html={work.summary} />
                  </article>
                </li>
              ))}
            </ol>
          </section>
        )}
      </>
    )}
  </main>
</Layout>