---
import type { Chapter } from "@/lib/types";

interface Props {
  chapter: Chapter;
}

const { chapter } = Astro.props;
---
<section>
  <header>
    <h1>{chapter.title}</h1>
    {chapter.authorsNotes && (
      <details>
        <summary>Author's Notes</summary>
        <Fragment set:html={chapter.authorsNotes} />
      </details>
    )}
    <time datetime={chapter.createdAt.toISOString()}>
      {chapter.createdAt}
    </time>
  </header>

  <div class="prose lg:prose-xl">
    <Fragment set:html={chapter.content} />
  </div>

  <footer>
    {chapter.endNotes && (
      <aside>
        <p>End notes</p>
        <Fragment set:html={chapter.endNotes} />
      </aside>
    )}
  </footer>
</section>