---
import Layout from "./Layout.astro";
import type { Chapter } from "@/lib/types";

interface Props {
  slug: string;
  title: string;
  author: string;
  summary: string;
  // tags: Tag[];
  tags: any;
  createdAt: Date;
  updatedAt?: Date | null;
  chapters?: Chapter[];
  comments?: boolean;
}

const { slug, title, author, summary, tags, createdAt, updatedAt, comments, chapters } = Astro.props;
---
<Layout title={title} skipLink="work-body">
  <!-- this chapter menu should be componentized -->
  <nav id="work-menu">
    <!-- if theres more than one chapter, render this box -->
    <select name="chapterSelect" id={`${slug}-chapters`} class="select">
      <option value="default" selected>Choose chapter...</option>
      {chapters?.map(chapter => (
        <option value={`/works/${slug}/${chapter.id}`}>{chapter.title}</option>
      ))}
    </select>
  </nav>

  <main id="work-body">
    <header>
      <h1>{title}</h1>
      <h2>{author}</h2>
      <!-- replace this at some point -->
      {JSON.stringify(tags)}
      <time datetime={createdAt.toISOString()}>{createdAt}</time>
      {updatedAt && (
        <time datetime={updatedAt.toISOString()}>{updatedAt}</time>
      )}

      <aside id="summary">
        {summary}
      </aside>
    </header>
    
    <section id={`${slug}-content`}>
      <!-- if work has its own style, render it here somehow -->
      <!-- also componentize the chapter content -->
      <details>
        <summary>Author's notes</summary>
        this should include author's notes
      </details>
      
      <slot />
    </section>

    {comments && (
      <aside id={`${slug}-comments`}>
        <!-- use bsky api to render comments here -->
        <!-- paginate this -->
      </aside>
    )}
  </main>
</Layout>